<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-color: antiquewhite;
        }
        h2
        {
            text-align: center;
        }
        th,tr,td {
            border: 1px solid black;

        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>USER DETAILS</h2>
    <table align="center">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Password</th>
            <th>Number</th>
            <th>Email</th>
            <th>Image</th>
            <th>Edit/Delete</th>
        </tr>
        {% for i in obj %}
        <tr>
            <td>{{i.fname}}</td>
            <td>{{i.lname}}</td>
            <td>{{i.password}}</td>
            <td>{{i.number}}</td>
            <td>{{i.email}}</td>
            <td><img src="{{i.abc.url}}" style="width: 60px; height: 60px;"></td>"</td>
            <td><a href="{% url 'edit' id=i.id %}"><input type="button" value="EDIT">
                <a href="{% url 'delete' id=i.id %}"><input type="button" value="DELETE"></td>
        </tr>
        {% endfor %}
       
        
        
</body>
</html>